.logo {
    background: transparent;
    padding: 0;
    padding-right: 5px;
}

.home-header {
    font-size: calc(min(100vw, 860px) / 20.05) !important;
}

.headings--one-size h1 {
    margin-top: 0px !important;
}

.disclaimer {
    font-weight: bold;
    color: #F00;
}