<div style="display: flex; justify-content: space-around;margin-bottom: 50px;">
    <a href="https://www.credly.com/badges/e1ecc37f-f5cc-470e-b984-e4a60ddfaab4/public_url" target="_blank"><img src="/img/aws-sap.png" height="150"></a>
    <a href="https://www.credly.com/badges/7b51112b-56cd-4285-8b5e-12044aa5550a/public_url" target="_blank"><img src="/img/azure-sae.png" height="150"></a>
    <a href="https://www.credly.com/badges/755b668b-58a7-4604-8489-67c267cc2a82/public_url" target="_blank"><img src="/img/aws-da.png" height="150"></a>
</div>