<div class="post" style="display: grid;grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));grid-gap: 1rem;">
    <div style="position: relative;">
        <div class="post-cover" style="margin: 0;">
            <a href="/portfolio/volt-stats"><img alt="Volt Stats" src="/img/voltstats.jpg"></a>
        </div>
        <div class="portfolio-cover">
            <h3 style="text-align: center;">Volt Stats</h3>
        </div>
    </div>
    
    <div style="position: relative;">
        <div class="post-cover" style="margin: 0;">
            <a href="/portfolio/play-your-damn-turn"><img alt="Play Your Damn Turn" src="/img/pydt.jpg"></a>
        </div>  
        <div class="portfolio-cover">
            <h3 style="text-align: center;">Play Your Damn Turn</h3>
        </div>
    </div>
</div>